html body .app.flex-row.align-items-center {
  height: 100vh;
}

// ie11 floating footer temp fix, react only
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #root {
    display: flex;
    flex-direction: column;
  }
}

.centrado-fila {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*COMPATIBILIDAD CON EXPLORER*/
  display: -ms-flexbox;
  -ms-flex-direction: row;
   -ms-flex-align: center;
  -ms-flex-pack: center;
}

.regresar:hover{
  color: white !important;
  
}
.regresar2:hover{
  color: rgb(201, 21, 21) !important;
 
  
}



